header {

}

body {
  font-family: 'Give You Glory', cursive;
  text-align: center;
}

li {
  cursor: pointer;
  font-family: 'Give You Glory', cursive;
}

p {

}

#new-note {

}

#create-note{

}

#save-note{

}

#abbreviated-list{

}
